.socials{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 98.75vw;
    background-color: #ffffff;
    /* background-image: -moz-linear-gradient(to bottom, #5a07a7 50%, #35075f );
    background-image: linear-gradient(to bottom, #5a07a7 50%, #35075f ); */
}
.socials .sub-socials{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding: 20px 0;
}
