.newsLetter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0;
}
.newsLetter .news-card{
    width: 85%;
    padding: 10px;
    background-color: #30323d;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    flex-wrap: wrap;
}
.newsLetter .news-card h2{
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 700;
    padding: 0 15px;
    display: flex;
    align-items: center;
}
.newsLetter .news-card h2 svg{
    margin-left: 20px;
    color: #6f6f6f;
    font-size: 2rem;
    font-weight: 700;
}
.newsLetter .news-card a{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    /* margin-top: auto;
    margin-bottom: auto; */
    margin: auto 10px;
    text-decoration-line: none;
}
.newsLetter .news-card a button{
    background-color: #6f6f6f;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 2px solid #6f6f6f;
    padding: 5px 15px;
}
.newsLetter .news-card button:hover{
    background-color: transparent;
    color: #6f6f6f;
    border: 2px solid #6f6f6f;
}