.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: -moz-linear-gradient( #30323d 50%, #ffffff);
    background-image: linear-gradient( to right, #30323d 50%, #ffffff 50%);
    padding: 50px 0;
}
.skills .sub-skills{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
    flex-wrap: wrap;
}
.skills .achie{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons{
    /* stroke-width: 1px !important; */
    font-size: 100px;
    color: #3412f5;
}